@using uTPro.Feature.SimpleFormBuilder.Helpers
@model uTPro.Feature.SimpleFormBuilder.Models.FormFieldViewModel
@{
    var h = new FieldHelper(Model, ViewData);
}

@h.LabelNoFor()
<div class="uTProForm-options">
    @if (Model.Options != null)
    {
        @foreach (var opt in Model.Options)
        {
            var radioId = h.FieldId + "-" + opt.Value;
            <label class="uTProForm-option">
                <input type="radio"
                       id="@radioId"
                       name="@h.Name"
                       value="@opt.Value"
                       checked="@(opt.Value == Model.DefaultValue)"
                       @h.RequiredAttr() />
                @h.L(opt.Text)
            </label>
        }
    }
</div>
@h.Error()
